## Kansas Project

In [4]:
import pymongo
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv) 

client  = pymongo.MongoClient("mongodb+srv://hasan:hasan2023@cluster0.cqahlvf.mongodb.net/?retryWrites=true&w=majority")
db      = client['kansas_data']

In [5]:
# List all the collections in 'kansas_data':
collections = db.list_collection_names()
for collection in collections:
   print(collection)

kansas22
kansas20
kansas19
kansas21
kansas18

In [6]:
# collection adlari kansas18, kansas19,  kansas20, kansas21,  kansas22, seklindedir asagida tüm yillara ait veriler dataframe dönüsütürülmüstür
df_18   = pd.DataFrame.from_dict(db["kansas18"].find())
df_19   = pd.DataFrame.from_dict(db["kansas19"].find())
df_20   = pd.DataFrame.from_dict(db["kansas20"].find())
df_21   = pd.DataFrame.from_dict(db["kansas21"].find())
df_22   = pd.DataFrame.from_dict(db["kansas22"].find())

In [7]:
df_18.head(3)

,_id,report_no,reported_date,reported_time,from_date,offense,ibrs,description,beat,address,...,age,firearm_used_flag,location,from_time,to_date,to_time,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,63bdd19d8b03e104e21a46b2,180037437,2018-05-19T00:00:00.000,00:21,2018-05-19T00:00:00.000,2100,90D,Driving Under Influe,342,2600 VAN BRUNT BL,...,46,N,"{'human_address': '{""address"": ""2600 VAN"", ""ci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63bdd19d8b03e104e21a4730,180026342,2018-04-09T00:00:00.000,14:11,2018-04-09T00:00:00.000,650,23G,Stealing Auto Parts/,232,6800 HOLMES RD,...,53,N,"{'latitude': '39.004493', 'longitude': '-94.57...",07:00,2018-04-09T00:00:00.000,11:00,114,1,7,163
2,63bdd19d8b03e104e21a473d,180068561,2018-09-05T00:00:00.000,10:56,2018-09-04T00:00:00.000,640,23F,Stealing From Auto,221,5400 HARRISON ST,...,NaN,N,"{'latitude': '39.028891', 'longitude': '-94.57...",22:00,2018-09-05T00:00:00.000,08:00,235,4,7,165

In [8]:
df_19.head(3)

,_id,report_no,reported_date,reported_time,from_date,from_time,offense,ibrs,description,beat,...,sex,age,firearm_used_flag,to_date,to_time,location,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,63bdd9628b03e104e21c3e65,KC19036641,2019-05-18T00:00:00.000,10:34,2019-05-18T00:00:00.000,10:34,Domestic Violence Assault (Aggravated),13A,Aggravated Assault,333,...,F,27,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63bdd9628b03e104e21c3e5d,KC19052276,2019-07-12T00:00:00.000,22:11,2019-07-13T00:00:00.000,2:28,City/Municipal Warrant Arrest,NaN,NaN,NaN,...,F,30,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63bdd9628b03e104e21c3e67,KC19024156,2019-04-03T00:00:00.000,15:09,2019-04-03T00:00:00.000,15:00,Stealing – Shoplift,23C,Shoplifting,NaN,...,M,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_20.head(3)

,_id,report_no,reported_date,reported_time,from_date,from_time,offense,ibrs,description,beat,...,firearm_used_flag,to_date,to_time,rep_dist,age,location,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,63bde6eb972623ae7fa869dc,KC20014727,2020-02-27T00:00:00.000,08:30,2020-01-12T00:00:00.000,16:35,Miscellaneous Investigation,NaN,NaN,344,...,False,NaN,NaN,PJ3281,38,NaN,NaN,NaN,NaN,NaN
1,63bde6eb972623ae7fa869d9,KC20017500,2020-03-08T00:00:00.000,19:24,2020-03-08T00:00:00.000,19:00,Stealing – Shoplift,90J,Trespass of Real Property,345,...,False,2020-03-08T00:00:00.000,19:00,PJ3601,NaN,NaN,NaN,NaN,NaN,NaN
2,63bde6eb972623ae7fa869fb,KC20015981,2020-03-02T00:00:00.000,20:49,2020-03-02T00:00:00.000,21:30,City/Municipal Warrant Arrest,NaN,NaN,999,...,False,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN

In [10]:
df_21.head(3)

,_id,report_no,report_date,report_time,from_date,from_time,to_date,to_time,offense,ibrs,...,race,sex,firearmused_flag,age,age_range,location,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp,:@computed_region_kk66_ngf4
0,63bde2388b03e104e21f4b99,KC21010791,2021-02-17T11:41:39.000,11:41,2021-02-11T20:30:00.000,20:30,2021-02-11T20:45:00.000,20:45,Stolen Auto,240,...,W,M,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63bde2388b03e104e21f4bc6,KC21008214,2021-02-06T00:03:52.000,00:03,2021-02-05T23:53:00.000,23:53,2021-02-06T00:03:00.000,00:03,Assault (Non-Aggravated),13B,...,B,M,False,43,35-44,NaN,NaN,NaN,NaN,NaN
2,63bde2388b03e104e21f4bc7,KC21007297,2021-02-02T11:20:52.000,11:20,2020-12-03T17:00:00.000,17:00,NaN,NaN,Stealing – Shoplift,23C,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_22.head(3)

,_id,report_no,report_date,report_time,from_date,from_time,to_date,to_time,offense,ibrs,...,race,sex,age,firearmusedflag,location,age_range,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,63bde2838b03e104e220b376,KC22000585,2022-01-03T19:09:00.000,19:09,2022-01-03T19:09:00.000,19:09,2022-01-03T19:09:00.000,NaN,Miscellaneous Investigation,NaN,...,B,F,NaN,False,"{'type': 'Point', 'coordinates': [-94.57902, 3...",NaN,97,4,7,92
1,63bde2838b03e104e220b375,KC22000197,2021-12-31T17:00:00.000,00:15,2021-12-31T17:00:00.000,17:00,2021-12-31T17:00:00.000,12:00,Rape - Statutory,11A,...,W,M,22,False,NaN,18-24,NaN,NaN,NaN,NaN
2,63bde2838b03e104e220b37e,KC22001905,2022-01-10T03:00:00.000,07:31,2022-01-10T03:00:00.000,03:00,2022-01-10T03:00:00.000,NaN,Stolen Auto,240,...,W,M,27,False,NaN,25-34,NaN,NaN,NaN,NaN

In [12]:
#General

In [13]:
#Alper's field

In [14]:
#Fethullah's field

In [15]:
#Hasan's field

In [16]:
#Tayyip's field

In [17]:
#Ertan's field