In [1]:
import pymongo
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv) 
import seaborn as sns

#client  = pymongo.MongoClient("mongodb://localhost:27017")
client  = pymongo.MongoClient("mongodb+srv://infotech:infotech2023@cluster0.cqahlvf.mongodb.net/?retryWrites=true&w=majority")
db      = client['kansas_data']

In [2]:
# List all the collections in 'kansas_data':
collections = db.list_collection_names()
for collection in collections:
   print(collection)

kansas20
kansas18
kansas22
kansas_all
kansas21
system.views
kansas19

In [3]:
# collection adlari kansas18, kansas19,  kansas20, kansas21,  kansas22, seklinde olup asagida hangi yil isteniyorsa degistirilebilir
df2018   = pd.DataFrame.from_dict(db["kansas18"].find())
df2019   = pd.DataFrame.from_dict(db["kansas19"].find())
df2020   = pd.DataFrame.from_dict(db["kansas20"].find())
df2021   = pd.DataFrame.from_dict(db["kansas21"].find())
df2022   = pd.DataFrame.from_dict(db["kansas22"].find())

In [4]:
df2018.shape[0] + df2019.shape[0] + df2020.shape[0] + df2021.shape[0] + df2022.shape[0]

522905

#### Column Name cleaning

In [5]:
# Fire Arm Used Flag 2022 verisinde Fire Arm Used Flag seklinde yazilmis diger 4 veri kümesinde Firearm Used Flag yazildigi icin Firearm seklinde degistirdim.
df2022 = df2022.rename(columns = {'firearmusedflag':'firearm used flag'})
df2021 = df2021.rename(columns = {'firearmused_flag':'firearm used flag'})

dataframelist =[df2018, df2019, df2020, df2021, df2022]

for i in dataframelist:  
    i.columns = map(str.lower, i.columns) # bütün column isimleri kücük harf yapildi
    i.columns = [c.replace(':@', '') for c in i.columns]
    i.columns = [c.replace(' ', '_') for c in i.columns] #bosluklar _ ile replace edildi
    i.columns = [c.replace('report_date', 'reported_date') for c in i.columns]
    i.columns = [c.replace('report_time', 'reported_time') for c in i.columns]

    print(i.columns)

Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'to_date', 'to_time', 'offense', 'ibrs', 'description',
       'beat', 'address', 'city', 'zip_code', 'rep_dist', 'area', 'dvflag',
       'invl_no', 'involvement', 'firearm_used_flag', 'location', 'race',
       'sex', 'age', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'to_date', 'to_time', 'offense', 'ibrs', 'description',
       'beat', 'address', 'city', 'zip_code', 'area', 'dvflag', 'involvement',
       'firearm_used_flag', 'race', 'sex', 'age', 'rep_dist', 'location',
       'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'offense', 'ibrs', 'description', 'beat', 'address',
       'city', 'zip_code', 'area', 'dvflag', 'involvement', 'race', 'sex',
       'firearm_used_flag', 'to_date', 'to_time', 'rep_dist', 'age',
       'location', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'offense', 'ibrs', 'description', 'beat', 'address',
       'city', 'zip_code', 'rep_dist', 'area', 'dvflag', 'involvement', 'race',
       'sex', 'firearm_used_flag', 'age', 'age_range', 'to_date', 'to_time',
       'location', 'computed_region_9t2m_phkm', 'computed_region_my34_vmp8',
       'computed_region_w4hf_t6bp', 'computed_region_kk66_ngf4'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'to_date', 'to_time', 'offense', 'ibrs', 'description',
       'beat', 'address', 'city', 'zip_code', 'rep_dist', 'area', 'dvflag',
       'involvement', 'firearm_used_flag', 'race', 'sex', 'age', 'age_range',
       'location', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')

#### age_range column created 2018,2019,2020

In [6]:
age_ranges = ['18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75+']

for i in [df2018, df2019, df2020]:
    i['age'] = pd.to_numeric(i['age'], errors='coerce')   # Coerce any errors to NaN when converting age column to numeric values
    i['age_range'] = pd.cut(i['age'],                  # Cut age into age range bins 
                            bins    = [18, 25, 35, 45, 55, 65, 75, np.inf],  # Age range bins 
                            labels  = age_ranges,                            # Corresponding label names 
                            right   = False)                                # Include the right most bin edge or not

In [7]:
df2018[['age', 'age_range']]

         age age_range
0        NaN       NaN
1        NaN       NaN
2       46.0     45-54
3       31.0     25-34
4        NaN       NaN
...      ...       ...
128933   NaN       NaN
128934   NaN       NaN
128935  72.0     65-74
128936  33.0     25-34
128937  40.0     35-44

[128938 rows x 2 columns]

### Check all year colums name

In [8]:
def find_difference_columns(liste):
    '''
    It compares the column differences between two dataframes.
    Returns a dataframe with the resulting difference information.
    
    
    liste: Must be in dict format and containing the name of the dataframes and column information
    
    sample liste:
    df_dict = [
    {"df_name":"Data_2018", "columns": df2018.columns},
    {"df_name":"Data_2019", "columns": df2019.columns}
    ]
    '''
    counter = 0
    df_list = []
    while True:
        new_list = liste[:]
        if counter < (len(liste)):
            main_column = liste[counter]
            
            del new_list[counter]

            for i in new_list:
                isim = f"{main_column['df_name']} difference {i['df_name']} "
                df_list.append({"Dataframes":isim, "difference_columns": list(main_column["columns"].difference(i["columns"]) )})
            counter+=1
        else:
            break
    df = pd.DataFrame.from_dict(df_list)
    df.index +=1
    return df

In [9]:
pd.options.display.max_rows = 20

In [10]:
df_dict = [
    {"df_name":"Data_2018", "columns": df2018.columns},
    {"df_name":"Data_2019", "columns": df2019.columns},
    {"df_name":"Data_2020", "columns": df2020.columns},
    {"df_name":"Data_2021", "columns": df2021.columns},
    {"df_name":"Data_2022", "columns": df2022.columns}]

find_difference_columns(df_dict)

                         Dataframes difference_columns
1   Data_2018 difference Data_2019           [invl_no]
2   Data_2018 difference Data_2020           [invl_no]
3   Data_2018 difference Data_2021           [invl_no]
4   Data_2018 difference Data_2022           [invl_no]
5   Data_2019 difference Data_2018                  []
6   Data_2019 difference Data_2020                  []
7   Data_2019 difference Data_2021                  []
8   Data_2019 difference Data_2022                  []
9   Data_2020 difference Data_2018                  []
10  Data_2020 difference Data_2019                  []
11  Data_2020 difference Data_2021                  []
12  Data_2020 difference Data_2022                  []
13  Data_2021 difference Data_2018                  []
14  Data_2021 difference Data_2019                  []
15  Data_2021 difference Data_2020                  []
16  Data_2021 difference Data_2022                  []
17  Data_2022 difference Data_2018                  []
18  Data_2022 difference Data_2019                  []
19  Data_2022 difference Data_2020                  []
20  Data_2022 difference Data_2021                  []

#### Concat all dataframe

In [11]:
df_list = [df2018, df2019, df2020,df2021, df2022]
# Tüm veri kümeleri
df = pd.concat(df_list, ignore_index=True)

In [12]:
# drop _id column
df.drop('_id', axis=1, inplace=True)

In [13]:
df.head(2)

,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,description,...,firearm_used_flag,location,race,sex,age,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp,age_range
0,180009419,2018-02-07T00:00:00.000,16:35,2018-02-07T00:00:00.000,11:00,2018-02-07T00:00:00.000,15:30,640,23F,Stealing From Auto,...,N,"{'human_address': '{""address"": ""E FOREST AV"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64127""}'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,180035722,2018-05-20T00:00:00.000,03:32,2018-05-20T00:00:00.000,03:32,NaN,NaN,1352,280,Stolen Property OFFE,...,N,"{'human_address': '{""address"": ""35 ST and SOUTH BENTON AV"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64130""}'}",B,M,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522905 entries, 0 to 522904
Data columns (total 29 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   report_no                  522905 non-null  object
 1   reported_date              522905 non-null  object
 2   reported_time              522905 non-null  object
 3   from_date                  522564 non-null  object
 4   from_time                  522425 non-null  object
 5   to_date                    252812 non-null  object
 6   to_time                    184574 non-null  object
 7   offense                    522905 non-null  object
 8   ibrs                       479426 non-null  object
 9   description                455066 non-null  object
 10  beat                       519681 non-null  object
 11  address                    522859 non-null  object
 12  city                       522827 non-null  object
 13  zip_code                   485894 non-null  object
 14  rep_dist                   432737 non-null  object
 15  area                       518895 non-null  object
 16  dvflag                     522905 non-null  object
 17  invl_no                    128938 non-null  object
 18  involvement                522905 non-null  object
 19  firearm_used_flag          522905 non-null  object
 20  location                   456432 non-null  object
 21  race                       452619 non-null  object
 22  sex                        457699 non-null  object
 23  age                        360894 non-null  object
 24  computed_region_kk66_ngf4  411010 non-null  object
 25  computed_region_9t2m_phkm  411010 non-null  object
 26  computed_region_my34_vmp8  419903 non-null  object
 27  computed_region_w4hf_t6bp  419903 non-null  object
 28  age_range                  360894 non-null  object
dtypes: object(29)
memory usage: 115.7+ MB

#### Missing Value

In [15]:
#Isnull Value info
def missing_value_table(df):
    missing_value = df.isna().sum().sort_values(ascending=False)
    missing_value_percent = 100 * df.isna().sum()//len(df)
    missing_value_table = pd.concat([missing_value, missing_value_percent], axis=1)
    missing_value_table_return = missing_value_table.rename(columns = {0 : 'Missing Values', 1 : '% Value'})
    cm = sns.light_palette("red", as_cmap=True)
    missing_value_table_return = missing_value_table_return.style.background_gradient(cmap=cm)
    return missing_value_table_return

In [16]:
missing_value_table(df)

# Data Cleaning

In [20]:
# reported_date , from_date column data type changed time
for i in ['reported_date','from_date', 'to_date']:  
    df[i] = pd.to_datetime(df[i], format='%Y-%m-%dT%H:%M:%S.%f')
    
df[['reported_date','from_date', 'to_date']]

             reported_date           from_date             to_date
0      2018-02-07 00:00:00 2018-02-07 00:00:00 2018-02-07 00:00:00
1      2018-05-20 00:00:00 2018-05-20 00:00:00                 NaT
2      2018-05-19 00:00:00 2018-05-19 00:00:00                 NaT
3      2018-05-26 00:00:00 2018-05-26 00:00:00                 NaT
4      2018-05-16 00:00:00 2018-05-16 00:00:00 2018-05-16 00:00:00
...                    ...                 ...                 ...
522900 2022-11-02 00:01:00 2022-11-02 00:01:00 2022-11-02 00:01:00
522901 2022-11-30 21:00:00 2022-11-30 21:00:00 2022-11-30 21:00:00
522902 2022-12-06 13:30:00 2022-12-06 13:30:00 2022-12-06 13:30:00
522903 2022-11-16 00:00:00 2022-11-16 00:00:00 2022-11-16 00:00:00
522904 2022-11-30 02:18:00 2022-11-30 02:18:00 2022-11-30 02:18:00

[522905 rows x 3 columns]

In [21]:
date_columns    = ['reported_date', 'from_date', 'to_date']
date_features   = ['year', 'month', 'day', 'hour',]

for date_col in date_columns:
    for feat in date_features:
        feature_name = f"{date_col}_{feat}"
        df[feature_name] = getattr(df[date_col].dt, feat)

In [22]:
df[['reported_dayofweek','from_date_dayofweek','to_date_dayofweek']] = df[['reported_date','from_date','to_date']].apply(lambda x: x.dt.day_name())

In [23]:
df['reported_time'] = df['reported_time'].replace('24:00', '00:00').replace(':', np.NaN)
df['reported_time'] = pd.to_datetime(df['reported_time'], format='%H:%M').dt.time

In [24]:
df['from_time'] = df['from_time'].replace('24:00', '00:00').replace('24:00:00', '00:00').replace(':', np.NaN)
df['from_time'] = pd.to_datetime(df['from_time'], format='%H:%M').dt.time

In [25]:
df['to_time'] = df['to_time'].replace('24:00', '00:00').replace('24:00:00', '00:00')
df['to_time'] = pd.to_datetime(df['to_time'], format='%H:%M').dt.time

In [26]:
def classify_time(hour):
    hour = hour.hour
    if 0 <= hour < 6:
        return "night"
    elif 6 <= hour < 12:
        return "morning"
    elif 12 <= hour < 18:
        return "afternoon"
    elif 18 <= hour < 24:
        return "evening"
    else:
        return np.nan

df["from_time_day_period"]      = df["from_time"].apply(lambda x: classify_time(x))
df["reported_time_day_period"]  = df["reported_time"].apply(lambda x: classify_time(x))
df["to_time_day_period"]        = df["to_time"].apply(lambda x: classify_time(x))

In [27]:
df[["from_time_day_period",'from_time','reported_time_day_period','reported_time', 'to_time_day_period' ,'to_time']]

,from_time_day_period,from_time,reported_time_day_period,reported_time,to_time_day_period,to_time
0,morning,11:00:00,afternoon,16:35:00,afternoon,15:30:00
1,night,03:32:00,night,03:32:00,NaN,NaT
2,NaN,NaT,night,00:21:00,NaN,NaT
3,night,01:00:00,night,01:00:00,NaN,NaT
4,night,01:00:00,morning,09:13:00,morning,09:13:00
...,...,...,...,...,...,...
522900,night,00:01:00,morning,10:45:00,evening,23:59:00
522901,evening,21:00:00,evening,18:25:00,afternoon,16:30:00
522902,afternoon,13:30:00,afternoon,13:36:00,NaN,NaT
522903,night,00:00:00,night,02:41:00,morning,07:00:00
522904,night,02:18:00,night,02:18:00,NaN,NaT

In [28]:
df["from_time_day_period"].value_counts()

afternoon    169101
evening      166743
morning       95415
night         90631
Name: from_time_day_period, dtype: int64

In [29]:
# changed age column datatyp
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['age'].dtype

dtype('float64')

#### CramerV Metoduna Göre 3 Sütun Arasindaki corr

In [30]:
from scipy.stats import chi2_contingency

dfcor=df[['ibrs','description','offense']]

corr_matrix = pd.DataFrame(index=dfcor.columns, columns=dfcor.columns)

for i in range(len(dfcor.columns)):
    for j in range(len(dfcor.columns)):
        if i != j:
            crosstab = pd.crosstab(dfcor[dfcor.columns[i]], dfcor[dfcor.columns[j]])
            chi2, p, dof, expected = chi2_contingency(crosstab)
            corr_matrix.iloc[i,j] = chi2 / (sum(crosstab.sum()) * (min(crosstab.shape) - 1))

print(corr_matrix)

                 ibrs description   offense
ibrs              NaN    0.999301  0.650339
description  0.999301         NaN  0.713302
offense      0.650339    0.713302       NaN

#### Created new columns with ibrs code (National Incident-Based Reporting System (NIBRS))

In [31]:
code_desc_dict_primary = {
    "09A": "Homicide Offenses",
    "09B": "Homicide Offenses",
    "09C": "Homicide Offenses",
    "100": "Kidnapping/Abduction",
    "11A": "Sex Offenses-Forcible",
    "11B": "Sex Offenses-Forcible",
    "11C": "Sex Offenses-Forcible",
    "11D": "Sex Offenses-Forcible",
    "120": "Robbery",
    "13A": "Assault Offenses",
    "13B": "Assault Offenses",
    "13C": "Assault Offenses",
    "200": "Arson",
    "210": "Extortion/Blackmail",
    "220": "Burglary/Breaking & Entering",
    "23A": "Larceny/Theft Offenses",
    "23B": "Larceny/Theft Offenses",
    "23C": "Larceny/Theft Offenses",
    "23D": "Larceny/Theft Offenses",
    "23E": "Larceny/Theft Offenses",
    "23F": "Larceny/Theft Offenses",
    "23G": "Larceny/Theft Offenses",
    "23H": "Larceny/Theft Offenses",
    "240": "Motor Vehicle Theft",
    "250": "Counterfeiting/Forgery",
    "26A": "Fraud Offenses",
    "26B": "Fraud Offenses",
    "26C": "Fraud Offenses",
    "26D": "Fraud Offenses",
    "26E": "Fraud Offenses",
    "270": "Embezzlement",
    "280": "Nonforcible-Statutory Rape",
    "290": "Destruction/Damage/Vandalism of Property",
    "35A": "Drug/Narcotic Offenses",
    "35B": "Drug/Narcotic Offenses",
    "36A": "Sex Offenses-Nonforcible",
    "36B": "Sex Offenses-Nonforcible",
    "370": "Pornography/Obscene Material",
    "39A": "Gambling Offenses",
    "39B": "Gambling Offenses",
    "39C": "Gambling Offenses",
    "39D": "Gambling Offenses",
    "40A": "Prostitution Offenses",
    "40B": "Prostitution Offenses",
    "510": "Bribery",
    "520": "Weapon Law Violations",
    "90Z": "All Other Offenses",
    "90A": "Bad Checks",
    "90B": "Curfew/Loitering/Vagrancy Violations",
    "90C": "Disorderly Conduct",
    "90D": "Driving Under the Influence",
    "90E": "Drunkenness",
    "90F": "Nonviolent",
    "90G": "Liquor Law Violations",
    "90H": "Peeping Tom",
    "90I": "Runaway",
    "90J": "Trespass of Real Property" }
df['ibrs_p'] = df['ibrs'].map(code_desc_dict_primary)
df['ibrs_p'].value_counts()

Assault Offenses                            124898
Larceny/Theft Offenses                      111486
Destruction/Damage/Vandalism of Property     42891
Motor Vehicle Theft                          37172
Burglary/Breaking & Entering                 28249
                                             ...
Drunkenness                                     54
Peeping Tom                                      8
Gambling Offenses                                7
Runaway                                          6
Bribery                                          4
Name: ibrs_p, Length: 33, dtype: int64

In [32]:
code_desc_dict = {
    "09A": "Homicide Offenses-Murder and Nonnegligent Manslaughter",
    "09B": "Homicide Offenses-Negligent Manslaughter",
    "09C": "Homicide Offenses-Justifiable Homicide",
    "100": "Kidnapping/Abduction",
    "11A": "Sex Offenses-Forcible-Forcible Rape",
    "11B": "Sex Offenses-Forcible-Forcible Sodomy",
    "11C": "Sex Offenses-Forcible-Sexual Assault with an Object",
    "11D": "Sex Offenses-Forcible-Forcible Fondling",
    "120": "Robbery",
    "13A": "Assault-Aggravated Assault",
    "13B": "Assault-Simple Assault",
    "13C": "Assault-Intimidation",
    "200": "Arson",
    "210": "Extortion/Blackmail",
    "220": "Burglary/Breaking & Entering",
    "23A": "Larceny/Theft Offenses-Pocket-Picking",
    "23B": "Larceny/Theft Offenses-Purse-Snatching",
    "23C": "Larceny/Theft Offenses-Shoplifting",
    "23D": "Larceny/Theft Offenses-Theft from Building",
    "23E": "Larceny/Theft Offenses-From Coin-Operated Machine or Device",
    "23F": "Larceny/Theft Offenses-Theft from Motor Vehicle",
    "23G": "Larceny/Theft Offenses-Theft of Motor Vehicle Parts or Accessories",
    "23H": "Larceny/Theft Offenses-All Other Larceny",
    "240": "Motor Vehicle Theft",
    "250": "Counterfeiting/Forgery",
    "26A": "Fraud Offenses-False Pretenses/Swindle/Confidence Game",
    "26B": "Fraud Offenses-Credit Card/Automatic Teller Machine Fraud",
    "26C": "Fraud Offenses-Impersonation",
    "26D": "Fraud Offenses-Welfare Fraud",
    "26E": "Fraud Offenses-Wire Fraud",
    "270": "Embezzlement",
    "280": "Stolen Property Offenses",
    "290": "Destruction/Damage/Vandalism of Property",
    "35A": "Drug/Narcotic Offenses-Drug/Narcotic Violations",
    "35B": "Drug/Narcotic Offenses-Drug Equipment Violations",
    "36A": "Sex Offenses-Nonforcible-Incest",
    "36B": "Sex Offenses-Nonforcible-Statutory Rape",
    "370": "Pornography/Obscene Material",
    "39A": "Gambling Offenses-Betting/Wagering",
    "39B": "Gambling Offenses-Operating/Promoting/Assisting Gambling",
    "39C": "Gambling Offenses-Gambling Equipment Violations",
    "39D": "Gambling Offenses-Sports Tampering",
    "40A": "Prostitution Offenses-Prostitution",
    "40B": "Prostitution Offenses-Assisting or Promoting Prostitution",
    "510": "Bribery",
    "520": "Weapon Law Violations",
    "90Z": "All Other Offenses",
    "90A": "Bad Checks",
    "90B": "Curfew/Loitering/Vagrancy Violations",
    "90C": "Disorderly Conduct",
    "90D": "Driving Under the Influence",
    "90E": "Drunkenness",
    "90F": "Nonviolent",
    "90G": "Liquor Law Violations",
    "90H": "Peeping Tom",
    "90I": "Runaway",
    "90J": "Trespass of Real Property"
}
df['ibrs_s'] = df['ibrs'].map(code_desc_dict)
df['ibrs_s'].value_counts()

Assault-Simple Assault                             66682
Assault-Aggravated Assault                         48097
Destruction/Damage/Vandalism of Property           42891
Motor Vehicle Theft                                37172
Larceny/Theft Offenses-Theft from Motor Vehicle    34841
                                                   ...
Runaway                                                6
Bribery                                                4
Gambling Offenses-Gambling Equipment Violations        3
Gambling Offenses-Betting/Wagering                     2
Gambling Offenses-Sports Tampering                     2
Name: ibrs_s, Length: 56, dtype: int64

#### ibrs no nan value doldurulmasi

In [33]:
df[['ibrs','ibrs_s','ibrs_p','offense','description']]

,ibrs,ibrs_s,ibrs_p,offense,description
0,23F,Larceny/Theft Offenses-Theft from Motor Vehicle,Larceny/Theft Offenses,640,Stealing From Auto
1,280,Stolen Property Offenses,Nonforcible-Statutory Rape,1352,Stolen Property OFFE
2,90D,Driving Under the Influence,Driving Under the Influence,2100,Driving Under Influe
3,90J,Trespass of Real Property,Trespass of Real Property,2655,Trespassing
4,240,Motor Vehicle Theft,Motor Vehicle Theft,702,Auto Theft
...,...,...,...,...,...
522900,NaN,NaN,NaN,Miscellaneous Investigation,NaN
522901,240,Motor Vehicle Theft,Motor Vehicle Theft,Stolen Auto,Motor Vehicle Theft
522902,90J,Trespass of Real Property,Trespass of Real Property,Trespass of Real Property,Trespass of Real Property
522903,290,Destruction/Damage/Vandalism of Property,Destruction/Damage/Vandalism of Property,Property Damage,Vandalism/Destruction of Property
522904,NaN,NaN,NaN,State Warrant Arrest,NaN

In [34]:
d_ibrs = df[df['ibrs'].isna()][['ibrs','ibrs_s','ibrs_p','offense','description']]
d_ibrs

,ibrs,ibrs_s,ibrs_p,offense,description
246,NaN,NaN,NaN,799,Auto Theft Outside S
253,NaN,NaN,NaN,799,Auto Theft Outside S
279,NaN,NaN,NaN,799,Auto Theft Outside S
389,NaN,NaN,NaN,799,Auto Theft Outside S
874,NaN,NaN,NaN,799,Auto Theft Outside S
...,...,...,...,...,...
522891,NaN,NaN,NaN,OCR - Vehicular Non-injury Hit and Run,NaN
522894,NaN,NaN,NaN,Recovered Stolen Auto,NaN
522898,NaN,NaN,NaN,Vehicular - Injury,NaN
522900,NaN,NaN,NaN,Miscellaneous Investigation,NaN
522904,NaN,NaN,NaN,State Warrant Arrest,NaN

In [35]:
# Filter rows where 'ibrs' is not null
df_filtered = df[df['ibrs'].notna()]

# Group dataframe by the 'offense' column
grouped = df_filtered.groupby('offense')

# Aggregate the 'ibrs' column using a lambda function, returning the mode of that column
mode_zip = grouped['ibrs'].agg(lambda x: x.value_counts().index[0]).to_dict()

# Set the 'ibrs' column values for rows where it was originally null to the mode of the respective 'offense' group 
df.loc[df['ibrs'].isna(), 'ibrs'] = df.loc[df['ibrs'].isna(), 'offense'].map(mode_zip).fillna(np.NaN)

#### ibrs group column

In [36]:
def categorize_column1(value):
    if pd.isnull(value):
        return np.nan
    elif value.startswith('90'):
        return 'B'
    else:
        return 'A'
df['ibrs_group'] = df['ibrs'].apply(categorize_column1)
df[['ibrs_group','ibrs']]

       ibrs_group ibrs
0               A  23F
1               A  280
2               B  90D
3               B  90J
4               A  240
...           ...  ...
522900          B  90Z
522901          A  240
522902          B  90J
522903          A  290
522904          B  90Z

[522905 rows x 2 columns]

#### KansasCity demographichs population

In [37]:
url = "https://public.opendatasoft.com/explore/dataset/us-cities-demographics/download/?format=csv&timezone=Europe/Berlin&use_labels_for_header=true&csv_separator=%3B"
df1 = pd.read_csv(url, sep=';')
kansas_city_pop = df1[(df1['City'] == "Kansas City")
                  & (df1['State'] == "Missouri")]
kansas_city_pop[['Race', 'Count']].sort_values(by='Count' , ascending=False)

                                   Race   Count
2474                              White  296623
1374          Black or African-American  147739
1061                 Hispanic or Latino   46037
208                               Asian   17061
2251  American Indian and Alaska Native    5796

In [38]:
df['sex'].unique()

array([nan, 'M', 'F', 'U'], dtype=object)

In [39]:
df['race'].unique()

array([nan, 'B', 'W', 'U', 'A', 'I', 'P'], dtype=object)

In [40]:
df['ibrs'].unique()

array(['23F', '280', '90D', '90J', '240', '23H', '90Z', '290', '220',
       '23C', '35A', '13B', '23G', '120', '35B', '13A', '13C', '23D',
       '90F', '26G', '26B', '270', '09A', '370', '11D', '90C', '100',
       '200', '26F', '26A', '520', '250', '40A', '11B', '11A', '90G',
       '23B', '23E', '26E', '23A', '40C', '90E', nan, '210', '90B', '36B',
       '720', '26C', '11C', '510', '40B', '90H', '09C', '36A', '64A',
       '90I', '39C', '90A', '26D', '64B', '39A', '09D', '09B', '39D'],
      dtype=object)

In [41]:
df.city.unique()

array(['KANSAS CITY', nan, 'KCMO', 'TULSA, OK', 'LEAVENWORTH', 'RAYTOWN',
       'JEFFERSON CIT', 'INDEPENDENCE', 'GLADSTONE', 'SPRING HILL',
       'SHAWNEE', 'N KANSAS CITY', 'GRANDVIEW', 'LEES SUMMIT',
       'ROELAND PARK', 'PL', 'KEARNEY', 'KANSAS CITY 6', 'BLUE SPRINGS',
       'OVERLAND PARK', 'WSW', 'VLG OFTHEOAKS', 'OAK GROVE', 'LIBERTY',
       'PLEASANT VLY', 'MERRIAM', '64151', 'PARKVILLE', 'RIVERSIDE',
       'CLEARWATER', 'LEXINGTON', 'WARSAW', 'KANSAS CITYMO', 'PVL', '\\',
       'Y', 'KANS CITY', 'KANSAS CTY', 'KANSAS CITY MISSOURI',
       'EXCELSIOR SPRINGS', 'INDEP', 'PLATTE CITY', 'NKC', 'KANAS CITY',
       'KANSAS', 'BELTON', 'KANSAS CITY MISSOURI USA',
       'DESERT HOT SPRINGS', 'NORTH KANSAS CITY', 'CEDAR HILL', 'KC',
       'KANSAS CTIY', 'SUGAR CREEK', 'KANSA SCITY', 'RAYMORE', 'OLATHE',
       'KANSAS CIITY', 'CLAYCOMO', 'JEFFERSON CITY', 'LENEXA',
       'KANSASCITY', 'KANSA CITY', 'LICKING', 'CENTERVIEW',
       'PLEASANT VALLEY', 'ST JOSEPH', 'LEE SUMMIT', 'SMITHVILLE',
       'KASNAS CITY', 'WALNUT', 'FULTON', 'KANSS CITY', 'KINGSTON',
       'KANSAS CIY', 'KANSAS CIYT', 'DODGE CITY', 'PLATTE WOODS',
       "LEE'S SUMMIT", 'KANNSAS CITY', 'KANSAS CIT', 'KANSAS CTITY',
       'KANASAS CITY', 'KNASAS CITY', 'INDPENDENCE', 'CAMERON',
       'KANSAS UNIT', 'FARMINGTON', 'HARRISONVILLE', 'KANSAAS CITY',
       'SPRINGFIELD', 'KANSAS C ITY', 'KANSAS CITYY', 'VANDALIA',
       'MEXICO', 'MOBERLY', 'INDEDPENDENCE', 'JACKSON', 'CAPE CANAVERAL',
       'KANSASS CITY', 'BOLINGBROOK', 'PLATTSBURG', 'KANSAS CITIY',
       'KNSAS CITY', 'GALENA', 'KANSAS CITH', 'KASNAS COTY',
       'KANSAS CITYTY', 'KANASA CITY', 'KANSAS CITY MO', 'KILLEEN',
       'LINWOOD', 'GUEYDAN', 'BOONVILLE', 'GLADESTONE', 'NORTHMOOR',
       'BRIGHTON', 'LAKE WINNEBAGO', '64106', 'KCK', 'HUMANSVILLE',
       'KANSAS ITY', 'LANSING', 'PLATSBURG', 'LAS VEGAS', 'KANAS CTIY',
       '64126', 'MISSION', 'ST CHARLES', 'ST. JOSEPH', 'KANSASA CITY',
       'KANSAS CIT Y', 'RANDOLPH', 'BOWLING GREED', 'OAKVIEW',
       'LONGBEACH', 'AGNES', 'UNION', 'PLATTE CO', 'HARRISON', 'LEAWOOD',
       'KAMSAS COTU', 'PACIFIC', 'ST LOUIS', 'PLATTESBURG',
       'KKANSAS CITY', 'KNASAS CTIY', 'BRADENTON', 'ROSAMOND', 'KANAS',
       'LAWRENCE', 'MCGEE', 'ATHOL', 'KANSSA CITY', 'KASAS CITY',
       'KANSAS CITU', 'UNKNOWN', 'TOMPKINS', 'SEDALIA', 'EDWARDSVILLE',
       'CARUTHERSVILLE', '64132', 'LITTLE ROCK', 'LAKELAND',
       'KANSAS CIRTY', 'AUSTIN', 'GOFF', 'PECULIAR', 'BLUE SUMMIT',
       'BRATTLEBORO', 'FORT PIERCE', 'RIVER BEND', 'WICHITA',
       'MURPHYSBORO', 'COLUMBIA', '64105', 'EL DORADO SPRINGS', 'UNK',
       'KINGSVILLE', 'MILLS', 'NORTHMOORE', 'LITTLETON', '64111',
       'HOUSTON LAKE', 'TULSA', 'COLORADO SPRINGS', 'ST. LOUIS',
       'LEESSUMMIT', 'FLORISSANT', 'KANSAS CITHY', '0VERLAND PARK',
       'TOPEKA', 'NORTH BEACH MIAMI', 'SAN ANTONIO', 'GRAIN VALLEY',
       'LAWERENCE', 'CLINTON', 'KANSAS CITR', 'KANSAS CIRT', 'BOONEVILLE',
       'OMAHA', 'KA NSAS CITY', 'RENO', 'GRAVOIS MILL', 'NASHVILLE',
       '64130', 'CHICAGO', 'ANN ARBOR', 'INDEPEDENCE', '64123',
       'KAMSAS CITY', 'LOS ANGELES', 'KANSAS CITTY', 'KANSAS CI TY',
       'PRINCETON', 'COWGILL', 'INDEPENDEANCE', 'HIGGINSVILLE',
       'PLATTE CTY'], dtype=object)

In [42]:
#alper

In [43]:
# Converting the location column in dict format to DF
from pandas.io.json import json_normalize
df_location = json_normalize(df['location'])
df_location

C:\Users\kubrarza\AppData\Local\Temp\ipykernel_15520\1866440118.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df_location = json_normalize(df['location'])

,human_address,latitude,longitude,type,coordinates
0,"{""address"": ""E FOREST AV"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64127""}",NaN,NaN,NaN,NaN
1,"{""address"": ""35 ST and SOUTH BENTON AV"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64130""}",NaN,NaN,NaN,NaN
2,"{""address"": ""2600 VAN"", ""city"": ""BRUNT BL KANSAS CITY"", ""state"": """", ""zip"": ""64128""}",NaN,NaN,NaN,NaN
3,"{""address"": ""1200 MAIN ST"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64106""}",39.09961,-94.583196,NaN,NaN
4,"{""address"": ""1200 JEFFERSON ST"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64105""}",39.100155,-94.592275,NaN,NaN
...,...,...,...,...,...
522900,NaN,NaN,NaN,Point,"[-94.55868, 39.30008]"
522901,NaN,NaN,NaN,Point,"[-94.55341, 38.99774]"
522902,NaN,NaN,NaN,Point,"[-94.55457, 39.10449]"
522903,NaN,NaN,NaN,Point,"[-94.51995, 39.02879]"
522904,NaN,NaN,NaN,Point,"[-94.59069, 39.05796]"

In [44]:
# fill rate of columns before taking any action
missing_value_table(df_location)

In [45]:
# Separate the coordinates column from the comma and create columns longitude1 and latitude1
df_location[['longitude1', 'latitude1']] = df_location["coordinates"].apply(lambda x: pd.Series(str(x).split(",")))

# delete the "[" str in column longitude1
df_location['longitude1'] = df_location['longitude1'].str[1:]

# delete the "]" str in the latitude1 column
df_location['latitude1'] = df_location['latitude1'].str[:-1]

print(df_location[['coordinates','longitude1','longitude','latitude1','latitude']])

                  coordinates longitude1   longitude  latitude1   latitude
0                         NaN         an         NaN        NaN        NaN
1                         NaN         an         NaN        NaN        NaN
2                         NaN         an         NaN        NaN        NaN
3                         NaN         an  -94.583196        NaN   39.09961
4                         NaN         an  -94.592275        NaN  39.100155
...                       ...        ...         ...        ...        ...
522900  [-94.55868, 39.30008]  -94.55868         NaN   39.30008        NaN
522901  [-94.55341, 38.99774]  -94.55341         NaN   38.99774        NaN
522902  [-94.55457, 39.10449]  -94.55457         NaN   39.10449        NaN
522903  [-94.51995, 39.02879]  -94.51995         NaN   39.02879        NaN
522904  [-94.59069, 39.05796]  -94.59069         NaN   39.05796        NaN

[522905 rows x 5 columns]

In [46]:
# 'Nan' data turned into 'an' data when recovering from parentheses for column 'longitude1'. We make them 'Nan' again.
df_location.loc[df_location['longitude1'] =='an']['longitude1']

# convert the non-numeric data in column longitude1 to 'Nan'.
df_location['longitude1'] = pd.to_numeric(df_location['longitude1'], errors='coerce')

In [47]:
print(df_location[['coordinates','longitude1','longitude']])

                  coordinates  longitude1   longitude
0                         NaN         NaN         NaN
1                         NaN         NaN         NaN
2                         NaN         NaN         NaN
3                         NaN         NaN  -94.583196
4                         NaN         NaN  -94.592275
...                       ...         ...         ...
522900  [-94.55868, 39.30008]   -94.55868         NaN
522901  [-94.55341, 38.99774]   -94.55341         NaN
522902  [-94.55457, 39.10449]   -94.55457         NaN
522903  [-94.51995, 39.02879]   -94.51995         NaN
522904  [-94.59069, 39.05796]   -94.59069         NaN

[522905 rows x 3 columns]

In [48]:
# fill the 'Nan' data in the 'longitude' column with the data in the 'longitude1' column.
df_location['longitude'] = df_location['longitude'].fillna(df_location['longitude1'])

In [49]:
print(df_location[['coordinates','longitude1','longitude',]])

                  coordinates  longitude1   longitude
0                         NaN         NaN         NaN
1                         NaN         NaN         NaN
2                         NaN         NaN         NaN
3                         NaN         NaN  -94.583196
4                         NaN         NaN  -94.592275
...                       ...         ...         ...
522900  [-94.55868, 39.30008]   -94.55868   -94.55868
522901  [-94.55341, 38.99774]   -94.55341   -94.55341
522902  [-94.55457, 39.10449]   -94.55457   -94.55457
522903  [-94.51995, 39.02879]   -94.51995   -94.51995
522904  [-94.59069, 39.05796]   -94.59069   -94.59069

[522905 rows x 3 columns]

In [50]:
# longitude column new missing value
missing_value_table(df_location)

In [51]:
print(df_location[['coordinates','latitude1','latitude',]])

                  coordinates  latitude1   latitude
0                         NaN        NaN        NaN
1                         NaN        NaN        NaN
2                         NaN        NaN        NaN
3                         NaN        NaN   39.09961
4                         NaN        NaN  39.100155
...                       ...        ...        ...
522900  [-94.55868, 39.30008]   39.30008        NaN
522901  [-94.55341, 38.99774]   38.99774        NaN
522902  [-94.55457, 39.10449]   39.10449        NaN
522903  [-94.51995, 39.02879]   39.02879        NaN
522904  [-94.59069, 39.05796]   39.05796        NaN

[522905 rows x 3 columns]

In [52]:
# fill the 'Nan' data in the 'latitude' column with the data in the 'latitude1' column.
df_location['latitude'] = df_location['latitude'].fillna(df_location['latitude1'])

In [53]:
print(df_location[['coordinates','latitude1','latitude',]])

                  coordinates  latitude1   latitude
0                         NaN        NaN        NaN
1                         NaN        NaN        NaN
2                         NaN        NaN        NaN
3                         NaN        NaN   39.09961
4                         NaN        NaN  39.100155
...                       ...        ...        ...
522900  [-94.55868, 39.30008]   39.30008   39.30008
522901  [-94.55341, 38.99774]   38.99774   38.99774
522902  [-94.55457, 39.10449]   39.10449   39.10449
522903  [-94.51995, 39.02879]   39.02879   39.02879
522904  [-94.59069, 39.05796]   39.05796   39.05796

[522905 rows x 3 columns]

In [54]:
# latitude column new missing value
missing_value_table(df_location)

In [55]:
# add latitude and longitude columns to df
df['longitude'] = df_location['longitude']
df['latitude'] = df_location['latitude']

In [56]:
df.head()

,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,description,...,from_date_dayofweek,to_date_dayofweek,from_time_day_period,reported_time_day_period,to_time_day_period,ibrs_p,ibrs_s,ibrs_group,longitude,latitude
0,180009419,2018-02-07,16:35:00,2018-02-07,11:00:00,2018-02-07,15:30:00,640,23F,Stealing From Auto,...,Wednesday,Wednesday,morning,afternoon,afternoon,Larceny/Theft Offenses,Larceny/Theft Offenses-Theft from Motor Vehicle,A,NaN,NaN
1,180035722,2018-05-20,03:32:00,2018-05-20,03:32:00,NaT,NaT,1352,280,Stolen Property OFFE,...,Sunday,NaN,night,night,NaN,Nonforcible-Statutory Rape,Stolen Property Offenses,A,NaN,NaN
2,180037437,2018-05-19,00:21:00,2018-05-19,NaT,NaT,NaT,2100,90D,Driving Under Influe,...,Saturday,NaN,NaN,night,NaN,Driving Under the Influence,Driving Under the Influence,B,NaN,NaN
3,180039506,2018-05-26,01:00:00,2018-05-26,01:00:00,NaT,NaT,2655,90J,Trespassing,...,Saturday,NaN,night,night,NaN,Trespass of Real Property,Trespass of Real Property,B,-94.583196,39.09961
4,180036600,2018-05-16,09:13:00,2018-05-16,01:00:00,2018-05-16,09:13:00,702,240,Auto Theft,...,Wednesday,Wednesday,night,morning,morning,Motor Vehicle Theft,Motor Vehicle Theft,A,-94.592275,39.100155

In [57]:
missing_value_table(df)

# human_address

In [58]:
df_location[['address', 'city', 'state', 'zip']] = df_location["human_address"].str.split(',', n=3, expand=True)
df_location[['address', 'city', 'state', 'zip']]

,address,city,state,zip
0,"{""address"": ""E FOREST AV""","""city"": ""KANSAS CITY""","""state"": """"","""zip"": ""64127""}"
1,"{""address"": ""35 ST and SOUTH BENTON AV""","""city"": ""KANSAS CITY""","""state"": """"","""zip"": ""64130""}"
2,"{""address"": ""2600 VAN""","""city"": ""BRUNT BL KANSAS CITY""","""state"": """"","""zip"": ""64128""}"
3,"{""address"": ""1200 MAIN ST""","""city"": ""KANSAS CITY""","""state"": """"","""zip"": ""64106""}"
4,"{""address"": ""1200 JEFFERSON ST""","""city"": ""KANSAS CITY""","""state"": """"","""zip"": ""64105""}"
...,...,...,...,...
522900,NaN,NaN,NaN,NaN
522901,NaN,NaN,NaN,NaN
522902,NaN,NaN,NaN,NaN
522903,NaN,NaN,NaN,NaN
522904,NaN,NaN,NaN,NaN

In [59]:
# create df with columns 'address, city, state, zip'
df_human_address =df_location["human_address"].str.split(',', n=3, expand=True)
df_human_address

,0,1,2,3
0,"{""address"": ""E FOREST AV""","""city"": ""KANSAS CITY""","""state"": """"","""zip"": ""64127""}"
1,"{""address"": ""35 ST and SOUTH BENTON AV""","""city"": ""KANSAS CITY""","""state"": """"","""zip"": ""64130""}"
2,"{""address"": ""2600 VAN""","""city"": ""BRUNT BL KANSAS CITY""","""state"": """"","""zip"": ""64128""}"
3,"{""address"": ""1200 MAIN ST""","""city"": ""KANSAS CITY""","""state"": """"","""zip"": ""64106""}"
4,"{""address"": ""1200 JEFFERSON ST""","""city"": ""KANSAS CITY""","""state"": """"","""zip"": ""64105""}"
...,...,...,...,...
522900,NaN,NaN,NaN,NaN
522901,NaN,NaN,NaN,NaN
522902,NaN,NaN,NaN,NaN
522903,NaN,NaN,NaN,NaN
522904,NaN,NaN,NaN,NaN

address

In [60]:
df_human_address_address = df_human_address[0].str.split(':', expand=True)

In [61]:
df_human_address_address.rename(columns={1:'human_adress_address'},inplace = True)
df_human_address_address

                 0          human_adress_address
0       {"address"                 "E FOREST AV"
1       {"address"   "35 ST and SOUTH BENTON AV"
2       {"address"                    "2600 VAN"
3       {"address"                "1200 MAIN ST"
4       {"address"           "1200 JEFFERSON ST"
...            ...                           ...
522900         NaN                           NaN
522901         NaN                           NaN
522902         NaN                           NaN
522903         NaN                           NaN
522904         NaN                           NaN

[522905 rows x 2 columns]

In [62]:
missing_value_table(df)

In [63]:
# Fill in the empty addresses in df with the address information of the same data in the location column.
df['address'] = df['address'].fillna(df_human_address_address['human_adress_address'])

In [64]:
# after filling new missing rate of address column
missing_value_table(df)

city

In [65]:
df_human_address_city = df_human_address[1].str.split(':', expand=True)
df_human_address_city

              0                        1
0        "city"            "KANSAS CITY"
1        "city"            "KANSAS CITY"
2        "city"   "BRUNT BL KANSAS CITY"
3        "city"            "KANSAS CITY"
4        "city"            "KANSAS CITY"
...         ...                      ...
522900      NaN                      NaN
522901      NaN                      NaN
522902      NaN                      NaN
522903      NaN                      NaN
522904      NaN                      NaN

[522905 rows x 2 columns]

In [66]:
df_human_address_city.rename(columns={1:'human_adress_city'},inplace = True)
df_human_address_city

              0        human_adress_city
0        "city"            "KANSAS CITY"
1        "city"            "KANSAS CITY"
2        "city"   "BRUNT BL KANSAS CITY"
3        "city"            "KANSAS CITY"
4        "city"            "KANSAS CITY"
...         ...                      ...
522900      NaN                      NaN
522901      NaN                      NaN
522902      NaN                      NaN
522903      NaN                      NaN
522904      NaN                      NaN

[522905 rows x 2 columns]

In [67]:
missing_value_table(df)

In [68]:
# Fill in the empty cities in df with the city information of the same data in the location column.
df['city'] = df['city'].fillna(df_human_address_city['human_adress_city'])

In [69]:
# after filling new missing rate of city column
missing_value_table(df)

zip_code

In [70]:
df_human_address_zip_code = df_human_address[3].str.split(':', expand=True)
df_human_address_zip_code

             0          1     2
0        "zip"   "64127"}  None
1        "zip"   "64130"}  None
2        "zip"   "64128"}  None
3        "zip"   "64106"}  None
4        "zip"   "64105"}  None
...        ...        ...   ...
522900     NaN        NaN   NaN
522901     NaN        NaN   NaN
522902     NaN        NaN   NaN
522903     NaN        NaN   NaN
522904     NaN        NaN   NaN

[522905 rows x 3 columns]

In [71]:
df_human_address_zip_code['zip_code'] = df_human_address_zip_code[1].str[:-1]

In [72]:
df_human_address_zip_code

             0          1     2  zip_code
0        "zip"   "64127"}  None   "64127"
1        "zip"   "64130"}  None   "64130"
2        "zip"   "64128"}  None   "64128"
3        "zip"   "64106"}  None   "64106"
4        "zip"   "64105"}  None   "64105"
...        ...        ...   ...       ...
522900     NaN        NaN   NaN       NaN
522901     NaN        NaN   NaN       NaN
522902     NaN        NaN   NaN       NaN
522903     NaN        NaN   NaN       NaN
522904     NaN        NaN   NaN       NaN

[522905 rows x 4 columns]

In [73]:
missing_value_table(df)

In [74]:
# siteden kansas city e ait zip kodlarinin api ile cekilmesi
from sodapy import Socrata
client  = Socrata("data.kcmo.org", None)
results = client.get("5fzk-h5mr", limit=2000)
# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df = results_df.sort_values(by='postalcode')
#kansas city e ait unique zip kodlari
results_df.postalcode.unique()

#zip kodu bu kodlar icinde olanlara 1 olmayanlara 0 yazdirilmak suretiyle yeni bir sütun olusuturuldu
df['is_valid_zip'] = df['zip_code'].isin(results_df.postalcode.unique()).astype(int)
df[df['is_valid_zip'] == 1].shape
#479761 adet veri düzgün diger veriler hatali, nan veya bu city ait degil

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

(479761, 53)

In [75]:
df['longitude'] = df['longitude'].astype(float)
df['latitude']  = df['latitude'].astype(float)

In [76]:
df[df['is_valid_zip'] == 0].shape

(43144, 53)

In [77]:
df_copy = df.copy()

In [78]:
from uszipcode import SearchEngine

# SearchEngine sınıfını oluşturun ve verileri internetten değil bellekten alınacak şekilde yapılandırın
search = SearchEngine()

# Veri çerçevenizdeki koordinatları zip kodlarına dönüştürmek için bir fonksiyon oluşturun
def get_zipcode(latitude, longitude):
    result = search.by_coordinates(latitude, longitude, radius=10, returns=1)
    if result:
        return result[0].zipcode
    else:
        return None

# Veri çerçevenizdeki koordinatları zip kodlarına dönüştürün ve zip_code sütununa yazın
df_copy['zip_code'] = df_copy.apply(lambda x: get_zipcode(x['latitude'], x['longitude']) if (x['is_valid_zip'] == 0 and pd.notnull(x['latitude'])) else x['zip_code'], axis=1)

c:\Users\kubrarza\AppData\Local\Programs\Python\Python39\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [79]:
df_copy['is_valid_zip'] = df_copy['zip_code'].isin(results_df.postalcode.unique()).astype(int)
df_copy[df_copy['is_valid_zip'] == 0].shape

(10265, 53)

In [80]:
df_filtered = df_copy[df_copy['is_valid_zip'] == 1]

# Adreslerin aynı olan verilerin gruplandırılması
grouped = df_filtered.groupby('address')

# Her adres için en sık kullanılan zip kodunun belirlenmesi
mode_zip = grouped['zip_code'].agg(lambda x: x.value_counts().index[0]).to_dict()

# "is_valid_zip" sütunu 0 olan ve adresi tanımlı olan verilerin zip kodunu değiştirin
mask = (df_copy['is_valid_zip'] == 0) & (df_copy['address'].notnull())
df_copy.loc[mask, 'zip_code'] = df_copy.loc[mask, 'address'].apply(lambda x: mode_zip.get(x, np.nan))

In [81]:
df_copy['is_valid_zip'] = df_copy['zip_code'].isin(results_df.postalcode.unique()).astype(int)
df_copy[df_copy['is_valid_zip'] == 0].shape

(4270, 53)