In [72]:
import pymongo
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv) 
import seaborn as sns

client  = pymongo.MongoClient("mongodb+srv://fethullah:fethullah2023@cluster0.cqahlvf.mongodb.net/?retryWrites=true&w=majority")
db      = client['kansas_data']

In [73]:
# List all the collections in 'kansas_data':
collections = db.list_collection_names()
for collection in collections:
   print(collection)

kansas22
kansas20
kansas19
kansas21
kansas18

In [74]:
# collection adlari kansas18, kansas19,  kansas20, kansas21,  kansas22, seklinde olup asagida hangi yil isteniyorsa degistirilebilir
df2018   = pd.DataFrame.from_dict(db["kansas18"].find())
df2019   = pd.DataFrame.from_dict(db["kansas19"].find())
df2020   = pd.DataFrame.from_dict(db["kansas20"].find())
df2021   = pd.DataFrame.from_dict(db["kansas21"].find())
df2022   = pd.DataFrame.from_dict(db["kansas22"].find())

#### Column Name cleaning

In [75]:
# Fire Arm Used Flag 2022 verisinde Fire Arm Used Flag seklinde yazilmis diger 4 veri kümesinde Firearm Used Flag yazildigi icin Firearm seklinde degistirdim.
df2022 = df2022.rename(columns = {'firearmusedflag':'firearm used flag'})
df2021 = df2021.rename(columns = {'firearmused_flag':'firearm used flag'})

dataframelist =[df2018, df2019, df2020, df2021, df2022]

for i in dataframelist:  
    i.columns = map(str.lower, i.columns) # bütün column isimleri kücük harf yapildi
    i.columns = [c.replace(':@', '') for c in i.columns]
    i.columns = [c.replace(' ', '_') for c in i.columns] #bosluklar _ ile replace edildi
    i.columns = [c.replace('report_date', 'reported_date') for c in i.columns]
    i.columns = [c.replace('report_time', 'reported_time') for c in i.columns]

    print(i.columns)

Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'offense', 'ibrs', 'description', 'beat', 'address', 'city', 'zip_code',
       'rep_dist', 'area', 'dvflag', 'invl_no', 'involvement', 'race', 'sex',
       'age', 'firearm_used_flag', 'location', 'from_time', 'to_date',
       'to_time', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'offense', 'ibrs', 'description', 'beat', 'address',
       'city', 'zip_code', 'rep_dist', 'area', 'dvflag', 'involvement', 'race',
       'sex', 'age', 'firearm_used_flag', 'to_date', 'to_time', 'location',
       'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'offense', 'ibrs', 'description', 'beat', 'address',
       'city', 'zip_code', 'area', 'dvflag', 'involvement', 'race', 'sex',
       'firearm_used_flag', 'to_date', 'to_time', 'rep_dist', 'age',
       'location', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'to_date', 'to_time', 'offense', 'ibrs', 'description',
       'beat', 'address', 'city', 'zip_code', 'rep_dist', 'area', 'dvflag',
       'involvement', 'race', 'sex', 'firearm_used_flag', 'age', 'age_range',
       'location', 'computed_region_9t2m_phkm', 'computed_region_my34_vmp8',
       'computed_region_w4hf_t6bp', 'computed_region_kk66_ngf4'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'to_date', 'to_time', 'offense', 'ibrs', 'description',
       'beat', 'address', 'city', 'zip_code', 'rep_dist', 'area', 'dvflag',
       'involvement', 'race', 'sex', 'age', 'firearm_used_flag', 'location',
       'age_range', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')

#### age_range column created 2018,2019,2020

In [76]:
age_ranges = ['18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75+']

# pandas cut function to bin the ages into age ranges
for i in [df2018, df2019, df2020]:
    i['age'] = pd.to_numeric(i['age'], errors='coerce')
    i['age_range'] = pd.cut(i['age'],
                            bins=[18, 25, 35, 45, 55, 65, 75, 100],
                            labels=age_ranges)

In [77]:
df2020.age_range.unique()

['35-44', NaN, '18-24', '25-34', '55-64', '45-54', '75+', '65-74']
Categories (7, object): ['18-24' < '25-34' < '35-44' < '45-54' < '55-64' < '65-74' < '75+']

### Check all year colums name

In [78]:
def find_difference_columns(liste):
    '''
    It compares the column differences between two dataframes.
    Returns a dataframe with the resulting difference information.
    
    
    liste: Must be in dict format and containing the name of the dataframes and column information
    
    sample liste:
    df_dict = [
    {"df_name":"Data_2018", "columns": df2018.columns},
    {"df_name":"Data_2019", "columns": df2019.columns}
    ]
    '''
    counter = 0
    df_list = []
    while True:
        new_list = liste[:]
        if counter < (len(liste)):
            main_column = liste[counter]
            
            del new_list[counter]

            for i in new_list:
                isim = f"{main_column['df_name']} difference {i['df_name']} "
                df_list.append({"Dataframes":isim, "difference_columns": list(main_column["columns"].difference(i["columns"]) )})
            counter+=1
        else:
            break
    df = pd.DataFrame.from_dict(df_list)
    df.index +=1
    return df

In [79]:
pd.options.display.max_rows = 20

In [80]:
df_dict = [
    {"df_name":"Data_2018", "columns": df2018.columns},
    {"df_name":"Data_2019", "columns": df2019.columns},
    {"df_name":"Data_2020", "columns": df2020.columns},
    {"df_name":"Data_2021", "columns": df2021.columns},
    {"df_name":"Data_2022", "columns": df2022.columns}]

find_difference_columns(df_dict)

                         Dataframes difference_columns
1   Data_2018 difference Data_2019           [invl_no]
2   Data_2018 difference Data_2020           [invl_no]
3   Data_2018 difference Data_2021           [invl_no]
4   Data_2018 difference Data_2022           [invl_no]
5   Data_2019 difference Data_2018                  []
6   Data_2019 difference Data_2020                  []
7   Data_2019 difference Data_2021                  []
8   Data_2019 difference Data_2022                  []
9   Data_2020 difference Data_2018                  []
10  Data_2020 difference Data_2019                  []
11  Data_2020 difference Data_2021                  []
12  Data_2020 difference Data_2022                  []
13  Data_2021 difference Data_2018                  []
14  Data_2021 difference Data_2019                  []
15  Data_2021 difference Data_2020                  []
16  Data_2021 difference Data_2022                  []
17  Data_2022 difference Data_2018                  []
18  Data_2022 difference Data_2019                  []
19  Data_2022 difference Data_2020                  []
20  Data_2022 difference Data_2021                  []

#### Concat all dataframe

In [81]:

df_list = [df2018, df2019, df2020,df2021, df2022]

# Tüm veri kümeleri
df = pd.concat(df_list, ignore_index=True)

In [82]:
df.head(2)

,_id,report_no,reported_date,reported_time,from_date,offense,ibrs,description,beat,address,...,firearm_used_flag,location,from_time,to_date,to_time,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp,age_range
0,63bdd19d8b03e104e21a46b2,180037437,2018-05-19T00:00:00.000,00:21,2018-05-19T00:00:00.000,2100,90D,Driving Under Influe,342,2600 VAN BRUNT BL,...,N,"{'human_address': '{""address"": ""2600 VAN"", ""city"": ""BRUNT BL KANSAS CITY"", ""state"": """", ""zip"": ""64128""}'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,45-54
1,63bdd19d8b03e104e21a4730,180026342,2018-04-09T00:00:00.000,14:11,2018-04-09T00:00:00.000,650,23G,Stealing Auto Parts/,232,6800 HOLMES RD,...,N,"{'latitude': '39.004493', 'longitude': '-94.579627', 'human_address': '{""address"": ""6800 HOLMES RD"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64130""}'}",07:00,2018-04-09T00:00:00.000,11:00,114,1,7,163,45-54

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584008 entries, 0 to 584007
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   _id                        584008 non-null  object
 1   report_no                  584008 non-null  object
 2   reported_date              584006 non-null  object
 3   reported_time              584008 non-null  object
 4   from_date                  583665 non-null  object
 5   offense                    584008 non-null  object
 6   ibrs                       534729 non-null  object
 7   description                510369 non-null  object
 8   beat                       580784 non-null  object
 9   address                    583962 non-null  object
 10  city                       583930 non-null  object
 11  zip_code                   543537 non-null  object
 12  rep_dist                   484819 non-null  object
 13  area                       579998 non-null  object
 14  dvflag                     584008 non-null  object
 15  invl_no                    128938 non-null  object
 16  involvement                584008 non-null  object
 17  race                       504506 non-null  object
 18  sex                        510399 non-null  object
 19  age                        405027 non-null  object
 20  firearm_used_flag          584008 non-null  object
 21  location                   513070 non-null  object
 22  from_time                  583526 non-null  object
 23  to_date                    313913 non-null  object
 24  to_time                    204420 non-null  object
 25  computed_region_kk66_ngf4  465078 non-null  object
 26  computed_region_9t2m_phkm  465078 non-null  object
 27  computed_region_my34_vmp8  476500 non-null  object
 28  computed_region_w4hf_t6bp  476500 non-null  object
 29  age_range                  400599 non-null  object
dtypes: object(30)
memory usage: 133.7+ MB

#### Missing Value

In [84]:
#Isnull Value info
def missing_value_table(df):
    missing_value = df.isna().sum().sort_values(ascending=False)
    missing_value_percent = 100 * df.isna().sum()//len(df)
    missing_value_table = pd.concat([missing_value, missing_value_percent], axis=1)
    missing_value_table_return = missing_value_table.rename(columns = {0 : 'Missing Values', 1 : '% Value'})
    cm = sns.light_palette("red", as_cmap=True)
    missing_value_table_return = missing_value_table_return.style.background_gradient(cmap=cm)
    return missing_value_table_return

In [85]:
missing_value_table(df)

# Data Cleaning

In [86]:
# reported_date , from_date column data type changed time
for i in ['reported_date','from_date']:  
    df[i] = pd.to_datetime(df[i], format='%Y-%m-%dT%H:%M:%S.%f')

In [87]:
df[['reported_date','from_date']]

             reported_date           from_date
0      2018-05-19 00:00:00 2018-05-19 00:00:00
1      2018-04-09 00:00:00 2018-04-09 00:00:00
2      2018-09-05 00:00:00 2018-09-04 00:00:00
3      2018-04-29 00:00:00 2018-04-29 00:00:00
4      2018-05-02 00:00:00 2018-05-02 00:00:00
...                    ...                 ...
584003 2022-06-03 12:25:00 2022-06-03 12:25:00
584004 2022-12-17 21:00:00 2022-12-17 21:00:00
584005 2022-10-22 17:00:00 2022-10-22 17:00:00
584006 2022-11-20 19:30:00 2022-11-20 19:30:00
584007 2022-12-09 00:45:00 2022-12-09 00:45:00

[584008 rows x 2 columns]

In [88]:
df['reported_time'] = df['reported_time'].replace('24:00', '00:00').replace(':', np.NaN)
df['reported_time'] = pd.to_datetime(df['reported_time'], format='%H:%M').dt.time

In [89]:
df['reported_year']     = df['reported_date'].dt.year
df['reported_month']    = df['reported_date'].dt.month
df['reported_day']      = df['reported_date'].dt.day
df['reported_hour']     = df['reported_date'].dt.hour

In [90]:
df['from_time'] = df['from_time'].replace('24:00', '00:00').replace('24:00:00', '00:00').replace(':', np.NaN)
df['from_time'] = pd.to_datetime(df['from_time'], format='%H:%M').dt.time

In [91]:
df['fromdate_year']     = df['from_date'].dt.year
df['fromdate_month']    = df['from_date'].dt.month
df['fromdate_day']      = df['from_date'].dt.day
df['fromdate_hour']     = df['from_date'].dt.hour

In [92]:
df.head(5)

,_id,report_no,reported_date,reported_time,from_date,offense,ibrs,description,beat,address,...,computed_region_w4hf_t6bp,age_range,reported_year,reported_month,reported_day,reported_hour,fromdate_year,fromdate_month,fromdate_day,fromdate_hour
0,63bdd19d8b03e104e21a46b2,180037437,2018-05-19,00:21:00,2018-05-19,2100,90D,Driving Under Influe,342,2600 VAN BRUNT BL,...,NaN,45-54,2018.0,5.0,19.0,0.0,2018.0,5.0,19.0,0.0
1,63bdd19d8b03e104e21a4730,180026342,2018-04-09,14:11:00,2018-04-09,650,23G,Stealing Auto Parts/,232,6800 HOLMES RD,...,163,45-54,2018.0,4.0,9.0,0.0,2018.0,4.0,9.0,0.0
2,63bdd19d8b03e104e21a473d,180068561,2018-09-05,10:56:00,2018-09-04,640,23F,Stealing From Auto,221,5400 HARRISON ST,...,165,NaN,2018.0,9.0,5.0,0.0,2018.0,9.0,4.0,0.0
3,63bdd19d8b03e104e21a4755,180031860,2018-04-29,23:03:00,2018-04-29,2655,90J,Trespassing,314,4000 INDEPENDENCE AV,...,70,NaN,2018.0,4.0,29.0,0.0,2018.0,4.0,29.0,0.0
4,63bdd19d8b03e104e21a4764,180032694,2018-05-02,18:43:00,2018-05-02,2655,90J,Trespassing,113,1400 GRAND BL,...,NaN,35-44,2018.0,5.0,2.0,0.0,2018.0,5.0,2.0,0.0