In [1]:
import pymongo
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv) 
import seaborn as sns

client  = pymongo.MongoClient("mongodb+srv://fethullah:fethullah2023@cluster0.cqahlvf.mongodb.net/?retryWrites=true&w=majority")
db      = client['kansas_data']

In [2]:
# List all the collections in 'kansas_data':
collections = db.list_collection_names()
for collection in collections:
   print(collection)

kansas22
kansas20
kansas19
kansas21
kansas18

In [3]:
# collection adlari kansas18, kansas19,  kansas20, kansas21,  kansas22, seklinde olup asagida hangi yil isteniyorsa degistirilebilir
df2018   = pd.DataFrame.from_dict(db["kansas18"].find())
df2019   = pd.DataFrame.from_dict(db["kansas19"].find())
df2020   = pd.DataFrame.from_dict(db["kansas20"].find())
df2021   = pd.DataFrame.from_dict(db["kansas21"].find())
df2022   = pd.DataFrame.from_dict(db["kansas22"].find())

In [4]:
df2018.shape[0] + df2019.shape[0] + df2020.shape[0] + df2021.shape[0] + df2022.shape[0]

520804

#### Column Name cleaning

In [5]:
# Fire Arm Used Flag 2022 verisinde Fire Arm Used Flag seklinde yazilmis diger 4 veri kümesinde Firearm Used Flag yazildigi icin Firearm seklinde degistirdim.
df2022 = df2022.rename(columns = {'firearmusedflag':'firearm used flag'})
df2021 = df2021.rename(columns = {'firearmused_flag':'firearm used flag'})

dataframelist =[df2018, df2019, df2020, df2021, df2022]

for i in dataframelist:  
    i.columns = map(str.lower, i.columns) # bütün column isimleri kücük harf yapildi
    i.columns = [c.replace(':@', '') for c in i.columns]
    i.columns = [c.replace(' ', '_') for c in i.columns] #bosluklar _ ile replace edildi
    i.columns = [c.replace('report_date', 'reported_date') for c in i.columns]
    i.columns = [c.replace('report_time', 'reported_time') for c in i.columns]

    print(i.columns)

Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'offense', 'ibrs', 'description', 'beat', 'address', 'city', 'zip_code',
       'rep_dist', 'area', 'dvflag', 'invl_no', 'involvement', 'race', 'sex',
       'age', 'firearm_used_flag', 'location', 'from_time', 'to_date',
       'to_time', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'offense', 'ibrs', 'description', 'beat', 'address',
       'city', 'zip_code', 'rep_dist', 'area', 'dvflag', 'involvement', 'race',
       'sex', 'age', 'firearm_used_flag', 'to_date', 'to_time', 'location',
       'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'offense', 'ibrs', 'description', 'beat', 'address',
       'city', 'zip_code', 'area', 'dvflag', 'involvement', 'race', 'sex',
       'firearm_used_flag', 'to_date', 'to_time', 'rep_dist', 'age',
       'location', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'to_date', 'to_time', 'offense', 'ibrs', 'description',
       'beat', 'address', 'city', 'zip_code', 'rep_dist', 'area', 'dvflag',
       'involvement', 'race', 'sex', 'firearm_used_flag', 'age', 'age_range',
       'location', 'computed_region_9t2m_phkm', 'computed_region_my34_vmp8',
       'computed_region_w4hf_t6bp', 'computed_region_kk66_ngf4'],
      dtype='object')
Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'to_date', 'to_time', 'offense', 'ibrs', 'description',
       'beat', 'address', 'city', 'zip_code', 'rep_dist', 'area', 'dvflag',
       'involvement', 'race', 'sex', 'age', 'firearm_used_flag', 'location',
       'age_range', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')

#### age_range column created 2018,2019,2020

In [6]:
age_ranges = ['18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75+']

# pandas cut function to bin the ages into age ranges
for i in [df2018, df2019, df2020]:
    i['age'] = pd.to_numeric(i['age'], errors='coerce')
    i['age_range'] = pd.cut(i['age'],
                            bins=[18, 25, 35, 45, 55, 65, 75, 100],
                            labels=age_ranges)

In [7]:
df2018.age.unique()

array([ 46.,  53.,  nan,  44.,  22.,  35.,  41.,  27.,  29.,  43.,  33.,
        19.,  50.,  28.,  34.,  74.,  51.,  20.,  49.,  69.,  18.,  30.,
        39.,  48.,  36.,  32.,  26.,  87.,  99.,  31.,  62.,  54.,  58.,
        42.,  55.,  24.,  73.,  40.,  25.,  59.,  21.,  67.,  63.,  52.,
        37.,  45., 152.,  71.,  23.,  81.,  65.,  47.,  38.,  72.,  60.,
        57.,  86.,  66.,  70.,  56.,  68.,  75.,  64.,  82.,  85.,  61.,
        84.,  78.,  77., 242.,  79.,  95.,  76.,  88.,  83.,  80.,  89.,
        92.,  93.,  97.,  91.,  94., 103., 401.,  90., 133., 203., 101.,
       201.,  96., 120., 202., 141., 114., 351., 501., 303.,  98., 335.,
       506.])

In [8]:
df2020.age_range.unique()

['35-44', NaN, '18-24', '25-34', '55-64', '45-54', '75+', '65-74']
Categories (7, object): ['18-24' < '25-34' < '35-44' < '45-54' < '55-64' < '65-74' < '75+']

In [9]:
df2018[['age', 'age_range']]

         age age_range
0       46.0     45-54
1       53.0     45-54
2        NaN       NaN
3        NaN       NaN
4       44.0     35-44
...      ...       ...
128933  35.0     25-34
128934   NaN       NaN
128935  22.0     18-24
128936  32.0     25-34
128937  55.0     45-54

[128938 rows x 2 columns]

### Check all year colums name

In [10]:
def find_difference_columns(liste):
    '''
    It compares the column differences between two dataframes.
    Returns a dataframe with the resulting difference information.
    
    
    liste: Must be in dict format and containing the name of the dataframes and column information
    
    sample liste:
    df_dict = [
    {"df_name":"Data_2018", "columns": df2018.columns},
    {"df_name":"Data_2019", "columns": df2019.columns}
    ]
    '''
    counter = 0
    df_list = []
    while True:
        new_list = liste[:]
        if counter < (len(liste)):
            main_column = liste[counter]
            
            del new_list[counter]

            for i in new_list:
                isim = f"{main_column['df_name']} difference {i['df_name']} "
                df_list.append({"Dataframes":isim, "difference_columns": list(main_column["columns"].difference(i["columns"]) )})
            counter+=1
        else:
            break
    df = pd.DataFrame.from_dict(df_list)
    df.index +=1
    return df

In [11]:
pd.options.display.max_rows = 20

In [12]:
df_dict = [
    {"df_name":"Data_2018", "columns": df2018.columns},
    {"df_name":"Data_2019", "columns": df2019.columns},
    {"df_name":"Data_2020", "columns": df2020.columns},
    {"df_name":"Data_2021", "columns": df2021.columns},
    {"df_name":"Data_2022", "columns": df2022.columns}]

find_difference_columns(df_dict)

                         Dataframes difference_columns
1   Data_2018 difference Data_2019           [invl_no]
2   Data_2018 difference Data_2020           [invl_no]
3   Data_2018 difference Data_2021           [invl_no]
4   Data_2018 difference Data_2022           [invl_no]
5   Data_2019 difference Data_2018                  []
6   Data_2019 difference Data_2020                  []
7   Data_2019 difference Data_2021                  []
8   Data_2019 difference Data_2022                  []
9   Data_2020 difference Data_2018                  []
10  Data_2020 difference Data_2019                  []
11  Data_2020 difference Data_2021                  []
12  Data_2020 difference Data_2022                  []
13  Data_2021 difference Data_2018                  []
14  Data_2021 difference Data_2019                  []
15  Data_2021 difference Data_2020                  []
16  Data_2021 difference Data_2022                  []
17  Data_2022 difference Data_2018                  []
18  Data_2022 difference Data_2019                  []
19  Data_2022 difference Data_2020                  []
20  Data_2022 difference Data_2021                  []

#### Concat all dataframe

In [13]:
df_list = [df2018, df2019, df2020,df2021, df2022]
# Tüm veri kümeleri
df = pd.concat(df_list, ignore_index=True)

In [14]:
# drop _id column
df.drop('_id', axis=1, inplace=True)

In [15]:
df.head(2)

,report_no,reported_date,reported_time,from_date,offense,ibrs,description,beat,address,city,...,firearm_used_flag,location,from_time,to_date,to_time,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp,age_range
0,180037437,2018-05-19T00:00:00.000,00:21,2018-05-19T00:00:00.000,2100,90D,Driving Under Influe,342,2600 VAN BRUNT BL,KANSAS CITY,...,N,"{'human_address': '{""address"": ""2600 VAN"", ""city"": ""BRUNT BL KANSAS CITY"", ""state"": """", ""zip"": ""64128""}'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,45-54
1,180026342,2018-04-09T00:00:00.000,14:11,2018-04-09T00:00:00.000,650,23G,Stealing Auto Parts/,232,6800 HOLMES RD,KANSAS CITY,...,N,"{'latitude': '39.004493', 'longitude': '-94.579627', 'human_address': '{""address"": ""6800 HOLMES RD"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64130""}'}",07:00,2018-04-09T00:00:00.000,11:00,114,1,7,163,45-54

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520804 entries, 0 to 520803
Data columns (total 29 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   report_no                  520804 non-null  object
 1   reported_date              520803 non-null  object
 2   reported_time              520804 non-null  object
 3   from_date                  520462 non-null  object
 4   offense                    520804 non-null  object
 5   ibrs                       477025 non-null  object
 6   description                452665 non-null  object
 7   beat                       517580 non-null  object
 8   address                    520758 non-null  object
 9   city                       520726 non-null  object
 10  zip_code                   483828 non-null  object
 11  rep_dist                   430810 non-null  object
 12  area                       516794 non-null  object
 13  dvflag                     520804 non-null  object
 14  invl_no                    128938 non-null  object
 15  involvement                520804 non-null  object
 16  race                       450876 non-null  object
 17  sex                        455908 non-null  object
 18  age                        359381 non-null  object
 19  firearm_used_flag          520804 non-null  object
 20  location                   452622 non-null  object
 21  from_time                  520323 non-null  object
 22  to_date                    250710 non-null  object
 23  to_time                    183909 non-null  object
 24  computed_region_kk66_ngf4  407270 non-null  object
 25  computed_region_9t2m_phkm  407270 non-null  object
 26  computed_region_my34_vmp8  416092 non-null  object
 27  computed_region_w4hf_t6bp  416092 non-null  object
 28  age_range                  354953 non-null  object
dtypes: object(29)
memory usage: 115.2+ MB

#### Missing Value

In [17]:
#Isnull Value info
def missing_value_table(df):
    missing_value = df.isna().sum().sort_values(ascending=False)
    missing_value_percent = 100 * df.isna().sum()//len(df)
    missing_value_table = pd.concat([missing_value, missing_value_percent], axis=1)
    missing_value_table_return = missing_value_table.rename(columns = {0 : 'Missing Values', 1 : '% Value'})
    cm = sns.light_palette("red", as_cmap=True)
    missing_value_table_return = missing_value_table_return.style.background_gradient(cmap=cm)
    return missing_value_table_return

In [18]:
missing_value_table(df)

# Data Cleaning

In [19]:
# reported_date , from_date column data type changed time
for i in ['reported_date','from_date']:  
    df[i] = pd.to_datetime(df[i], format='%Y-%m-%dT%H:%M:%S.%f')

In [20]:
df[['reported_date','from_date']]

             reported_date           from_date
0      2018-05-19 00:00:00 2018-05-19 00:00:00
1      2018-04-09 00:00:00 2018-04-09 00:00:00
2      2018-09-05 00:00:00 2018-09-04 00:00:00
3      2018-04-29 00:00:00 2018-04-29 00:00:00
4      2018-05-02 00:00:00 2018-05-02 00:00:00
...                    ...                 ...
520799 2022-11-24 21:53:00 2022-11-24 21:53:00
520800 2022-12-22 13:25:00 2022-12-22 13:25:00
520801 2022-12-21 21:00:00 2022-12-21 21:00:00
520802 2022-12-02 20:11:00 2022-12-02 20:11:00
520803 2022-12-15 21:52:00 2022-12-15 21:52:00

[520804 rows x 2 columns]

In [21]:
df['reported_time'] = df['reported_time'].replace('24:00', '00:00').replace(':', np.NaN)
df['reported_time'] = pd.to_datetime(df['reported_time'], format='%H:%M').dt.time

In [22]:
## created reported_time 5 column

df['reported_year']         = df['reported_date'].dt.year
df['reported_month']        = df['reported_date'].dt.month
df['reported_day']          = df['reported_date'].dt.day
df['reported_hour']         = df['reported_date'].dt.hour
df['reported_dayofweek']    = df['reported_date'].dt.day_name()

In [23]:
df['from_time'] = df['from_time'].replace('24:00', '00:00').replace('24:00:00', '00:00').replace(':', np.NaN)
df['from_time'] = pd.to_datetime(df['from_time'], format='%H:%M').dt.time

In [24]:
## created fromdate 5 column
df['fromdate_year']     = df['from_date'].dt.year
df['fromdate_month']    = df['from_date'].dt.month
df['fromdate_day']      = df['from_date'].dt.day
df['fromdate_hour']     = df['from_date'].dt.hour
df['fromdate_dayofweek']= df['from_date'].dt.day_name()

In [45]:
df.tail(5)

,report_no,reported_date,reported_time,from_date,offense,ibrs,description,beat,address,city,...,reported_year,reported_month,reported_day,reported_hour,reported_dayofweek,fromdate_year,fromdate_month,fromdate_day,fromdate_hour,fromdate_dayofweek
520799,KC22079317,2022-11-24 21:53:00,21:53:00,2022-11-24 21:53:00,Domestic Violence Assault (Non-Aggravated),13B,Simple Assault,422,8700 N MATTOX RD,KANSAS CITY,...,2022.0,11.0,24.0,21.0,Thursday,2022.0,11.0,24.0,21.0,Thursday
520800,KC22085305,2022-12-22 13:25:00,13:27:00,2022-12-22 13:25:00,Recovered Stolen Auto,NaN,NaN,231,1200 W 72ND ST,KANSAS CITY,...,2022.0,12.0,22.0,13.0,Thursday,2022.0,12.0,22.0,13.0,Thursday
520801,KC22085203,2022-12-21 21:00:00,21:08:00,2022-12-21 21:00:00,Dead Body,NaN,NaN,144,4200 PASEO,KANSAS CITY,...,2022.0,12.0,21.0,21.0,Wednesday,2022.0,12.0,21.0,21.0,Wednesday
520802,KC22080991,2022-12-02 20:11:00,20:11:00,2022-12-02 20:11:00,Recovered Property,NaN,NaN,231,500 W 75TH ST,KANSAS CITY,...,2022.0,12.0,2.0,20.0,Friday,2022.0,12.0,2.0,20.0,Friday
520803,KC22083952,2022-12-15 21:52:00,21:52:00,2022-12-15 21:52:00,Felon/Prohibited Person in Possession of a Firearm/Ammunition/Body Armor,35B,Drug Equipment Violations,314,E 9TH ST and MYRTLE AVE,KANSAS CITY,...,2022.0,12.0,15.0,21.0,Thursday,2022.0,12.0,15.0,21.0,Thursday

In [26]:
from pandas.io.json import json_normalize
df_flat = json_normalize(df['location'])
df_flat.head(2)

C:\Users\kubrarza\AppData\Local\Temp\ipykernel_12096\727512116.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df_flat = json_normalize(df['location'])

,human_address,latitude,longitude,type,coordinates
0,"{""address"": ""2600 VAN"", ""city"": ""BRUNT BL KANSAS CITY"", ""state"": """", ""zip"": ""64128""}",NaN,NaN,NaN,NaN
1,"{""address"": ""6800 HOLMES RD"", ""city"": ""KANSAS CITY"", ""state"": """", ""zip"": ""64130""}",39.004493,-94.579627,NaN,NaN

In [27]:
# changed age column datatyp
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['age'].dtype

dtype('float64')

In [28]:
df['sex'].unique()

array(['F', 'M', 'U', nan], dtype=object)

In [29]:
df['race'].unique()

array(['B', 'U', nan, 'W', 'I', 'A', 'P'], dtype=object)

In [30]:
df['ibrs'].unique()

array(['90D', '23G', '23F', '90J', '240', '290', '13B', '520', '90Z',
       '23C', '35A', '100', '90C', '13A', '250', '23H', '35B', '23D',
       '09A', '13C', '220', nan, '120', '280', '200', '26A', '26F', '26G',
       '270', '11D', '90F', '370', '40A', '26B', '11B', '23B', '11A',
       '23E', '90G', '23A', '26E', '40C', '90E', '210', '90B', '720',
       '36B', '11C', '26C', '510', '40B', '90H', '09C', '36A', '64A',
       '90I', '39C', '90A', '26D', '39A', '09D', '09B', '64B', '39D'],
      dtype=object)

In [ ]:
df.city.unique()

In [32]:
#alper

In [33]:
# Converting the location column in dict format to DF
from pandas.io.json import json_normalize
df_location = json_normalize(df['location'])
df_location

In [ ]:
# fill rate of columns before taking any action
missing_value_table(df_location)

In [ ]:
# Separate the coordinates column from the comma and create columns longitude1 and latitude1
df_location[['longitude1', 'latitude1']] = df_location["coordinates"].apply(lambda x: pd.Series(str(x).split(",")))

# delete the "[" str in column longitude1
df_location['longitude1'] = df_location['longitude1'].str[1:]

# delete the "]" str in the latitude1 column
df_location['latitude1'] = df_location['latitude1'].str[:-1]

print(df_location[['coordinates','longitude1','longitude','latitude1','latitude']])

In [ ]:
# 'Nan' data turned into 'an' data when recovering from parentheses for column 'longitude1'. We make them 'Nan' again.
df_location.loc[df_location['longitude1'] =='an']['longitude1']

# convert the non-numeric data in column longitude1 to 'Nan'.
df_location['longitude1'] = pd.to_numeric(df_location['longitude1'], errors='coerce')

In [ ]:
print(df_location[['coordinates','longitude1','longitude']])

In [ ]:
# fill the 'Nan' data in the 'longitude' column with the data in the 'longitude1' column.
df_location['longitude'] = df_location['longitude'].fillna(df_location['longitude1'])

In [ ]:
print(df_location[['coordinates','longitude1','longitude',]])

In [ ]:
# longitude column new missing value
missing_value_table(df_location)

In [ ]:
print(df_location[['coordinates','latitude1','latitude',]])

In [ ]:
# fill the 'Nan' data in the 'latitude' column with the data in the 'latitude1' column.
df_location['latitude'] = df_location['latitude'].fillna(df_location['latitude1'])

In [ ]:
print(df_location[['coordinates','latitude1','latitude',]])

In [ ]:
# latitude column new missing value
missing_value_table(df_location)

In [ ]:
# add latitude and longitude columns to df
df['longitude'] = df_location['longitude']
df['latitude'] = df_location['latitude']

In [ ]:
df.head()

In [ ]:
missing_value_table(df)

# human_address

In [ ]:
df_location[['address', 'city', 'state', 'zip']] = df_location["human_address"].str.split(',', n=3, expand=True)
df_location[['address', 'city', 'state', 'zip']]

In [ ]:
# create df with columns 'address, city, state, zip'
df_human_address =df_location["human_address"].str.split(',', n=3, expand=True)
df_human_address

address

In [ ]:
df_human_address_address = df_human_address[0].str.split(':', expand=True)

In [ ]:
df_human_address_address.rename(columns={1:'human_adress_address'},inplace = True)
df_human_address_address

In [ ]:
missing_value_table(df)

In [ ]:
# Fill in the empty addresses in df with the address information of the same data in the location column.
df['address'] = df['address'].fillna(df_human_address_address['human_adress_address'])

In [ ]:
# after filling new missing rate of address column
missing_value_table(df)

city

In [ ]:
df_human_address_city = df_human_address[1].str.split(':', expand=True)
df_human_address_city

In [ ]:
df_human_address_city.rename(columns={1:'human_adress_city'},inplace = True)
df_human_address_city

In [ ]:
missing_value_table(df)

In [ ]:
# Fill in the empty cities in df with the city information of the same data in the location column.
df['city'] = df['city'].fillna(df_human_address_city['human_adress_city'])

In [ ]:
# after filling new missing rate of city column
missing_value_table(df)

zip_code

In [ ]:
df_human_address_zip_code = df_human_address[3].str.split(':', expand=True)
df_human_address_zip_code

In [ ]:
df_human_address_zip_code['zip_code'] = df_human_address_zip_code[1].str[:-1]

In [ ]:
df_human_address_zip_code

In [ ]:
missing_value_table(df)

In [ ]:
# Create a new df with 'zip code data' from 'data.kcmo.org'
# URL : https://data.kcmo.org/dataset/Zip-Codes/q2i4-9764
df_zip_code = pd.read_csv('TEKAMUL\Zip_Codes_data.csv')
df_zip_code['POSTALCODE'] = df_zip_code['POSTALCODE'].astype(str) 
df_zip_code['POSTALCODE']

In [ ]:
# list of kansas city zip codes
zip_code_list = df_zip_code.POSTALCODE.values.tolist()
zip_code_list

In [ ]:
# We compare these zip_codes with the zip_codes in our data and filter out data that does not belong to Kansas City.
df_kc_zip_code= df[df['zip_code'].isin(zip_code_list)]
df_kc_zip_code